# PSP fw config file
FIRMWARE_LOCATION          3rdparty/amd_firmwares/Firmwares/Turin
SOC_NAME                   Turin

# type                     file
# PSP
AMD_PUBKEY_FILE            TypeId0x00_AmdPubKey_BRH.tkn
PSPBTLDR_FILE              TypeId0x01_PspBl_BRH.sbin
PSPSECUREOS_FILE           TypeId0x02_PspOS_BRH.csbin
PSPRCVR_FILE               TypeId0x03_PspRecBl_BRH.sbin
PSP_SMUFW1_SUB0_FILE       TypeId0x08_SmuFirmware_breithorn.csbin
PSPSECUREDEBUG_FILE        TypeId0x09_PspDebugUnlockToken_BRH.stkn
PSP_OEM_ABL_KEY_FILE       TypeId0x0A_PspAblPubKey_BRH.stkn
PSP_SEC_DEBUG_FILE         TypeId0x13_SduFw_BRH.csbin
PSP_TEEIPKEY_FILE          TypeId0x15_IpKeyManagerDriver_BRH.csbin
PSP_SEV_DRIVER_FILE        TypeId0x1A_SevDriver_BRH.csbin
PSP_BOOT_DRIVER_FILE       TypeId0x1B_BootDriver_BRH.csbin
PSP_SOC_DRIVER_FILE        TypeId0x1C_SocDriver_BRH.csbin
PSP_DEBUG_DRIVER_FILE      TypeId0x1D_HadDriver_BRH.csbin
PSP_INTERFACE_DRIVER_FILE  TypeId0x1F_InterfaceDriver_BRH.csbin
PSP_IKEK_FILE              TypeId0x21_PspAmdIkek_BRH.bin
PSP_TOKEN_UNLOCK_FILE      TypeId0x22_SecureEmptyToken.bin
PSP_SECG0_FILE             TypeId0x24_RegisterAccessPolicy_BRH.csbin
PSP_DRIVERS_FILE           TypeId0x28_PspSystemDriver_BRH.csbin
PSP_MP5FW_SUB0_FILE        TypeId0x2A_SmuFirmware_breithorn.csbin
PSP_S0I3_FILE              TypeId0x2D_AblRt.csbin
PSP_ABL0_FILE              TypeId0x30_AgesaBootLoaderU_BRH.csbin
SEV_DATA_FILE              TypeId0x38_PspSevEmptyData.bin
PSP_DXIOFW_FILE            TypeId0x42_PhyFw_BRH.ecsbin
UNIFIEDUSB_FILE            TypeId0x44_USB_PHY_BRH.esbin
SECURE_POLICY_L1_FILE      TypeId0x45_RegisterAccessPolicy_BRH.csbin
DRTMTA_FILE                TypeId0x47_DRTMDriver_BRH.sbin
KEYDBBL_FILE               TypeId0x50_PspKeyDataBase_BRH.sbin
KEYDB_TOS_FILE             TypeId0x51_PspTosKeyDataBase_BRH.sbin
SPL_TABLE_FILE             TypeId0x55_SPLTable_BRH.sbin
PSP_MPIOFW_FILE            TypeId0x5DMpioFw_BRH.csbin
PSP_RAS_DRIVER_FILE        TypeId0x64_RasDriver_BRH.csbin
PSP_RAS_TA_FILE            TypeId0x65_ta_ras_prod_amdTEE.sbin
PSP_FHP_DRIVER_FILE        TypeId0x67_FHPDriver_BRH.csbin
PSP_SPDM_DRIVER_FILE       TypeId0x68_SPDMDriver_BRH.csbin
PSP_DPE_DRIVER_FILE        TypeId0x69_DPEDriver_BRH.csbin
PSPBTLDR_AB_FILE           TypeId0x73_PspBl_BRH.sbin
PSP_RIB_FILE_SUB0          TypeId0x76_DfRib_BRH.csbin
PSP_MPDMATFFW_FILE         TypeId0x8C_MPDMATF_BRH.sbin
PSP_GMI3PHYFW_FILE         TypeId0x91_GmiPhyFw_BRH.esbin
PSP_MPDMAPMFW_FILE         TypeId0x92_Page_BRH.sbin
SRAM_FW_EXT_FILE           TypeId0x9D_AspSramFwExt_BRH.sbin
PSP_TOS_WHITELIST          TypeId0x9F_psp_tos_wl_bin_brh.sbin
CPU_S3_IMAGE_INS3          TypeId0xA0_S3Image_BRH.sbin
AMD_FUSE_CHAIN             Dummy Lbb

# BDT
PSP_PMUI_FILE_SUB0_INS3 Type0x64_AppbDdr5RdimmImem3_BRH.ecsbin
PSP_PMUI_FILE_SUB4_INS3 Type0x64_AppbDdr5RdimmImem3_BRH_C0.ecsbin
PSP_PMUI_FILE_SUB0_INS4 Type0x64_AppbDdr5RdimmImem4_BRH.ecsbin
PSP_PMUI_FILE_SUB4_INS4 Type0x64_AppbDdr5RdimmImem4_BRH_C0.ecsbin
PSP_PMUI_FILE_SUB0_INS9 Type0x64_AppbDdr5RdimmPosttrainImem9_BRH.ecsbin
PSP_PMUI_FILE_SUB0_INSA Type0x64_AppbDdr5RdimmPosttrainImem10_BRH.ecsbin
PSP_PMUD_FILE_SUB0_INS3 Type0x65_AppbDdr5RdimmDmem3_BRH.ecsbin
PSP_PMUD_FILE_SUB4_INS3 Type0x65_AppbDdr5RdimmDmem3_BRH_C0.ecsbin
PSP_PMUD_FILE_SUB0_INS4 Type0x65_AppbDdr5RdimmDmem4_BRH.ecsbin
PSP_PMUD_FILE_SUB0_INS9 Type0x65_AppbDdr5RdimmPosttrainDmem9_BRH.ecsbin
PSP_PMUD_FILE_SUB4_INS9 Type0x65_AppbDdr5RdimmPosttrainDmem9_BRH_C0.ecsbin
PSP_PMUD_FILE_SUB0_INSA Type0x65_AppbDdr5RdimmPosttrainDmem10_BRH.ecsbin
PSP_PMUD_FILE_SUB0_INSB Type0x65_AppbDdr5RdimmQuickbootDmem11_BRH.csbin
PSP_PMUD_FILE_SUB0_INSC Type0x65_AppbDdr5RdimmQuickbootDmem12_BRH.csbin
