if VENDOR_NOTEBOOK

choice
	prompt "Mainboard model"

source "src/mainboard/notebook/*/Kconfig.name"

endchoice

source "src/mainboard/notebook/*/Kconfig"

config MAINBOARD_VENDOR
	string
	default "Notebook"

endif # VENDOR_NOTEBOOK
