#
# This file is part of the coreboot project.
#
# Copyright (C) 2012 Advanced Micro Devices, Inc.
# Copyright (C) 2016 Eltan B.V.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301 USA
#

if BOARD_PCENGINES_APU5

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select CPU_AMD_PI_00730F01
	select NORTHBRIDGE_AMD_PI_00730F01
	select SOUTHBRIDGE_AMD_PI_AVALON
	select SUPERIO_NUVOTON_NCT5104D
	select HAVE_PIRQ_TABLE
	select HAVE_MP_TABLE
#	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select BOARD_ROMSIZE_KB_8192
#	select GFXUMA						# disable graphics
	select SPD_CACHE
	select HUDSON_DISABLE_IMC
#	select HAVE_OPTION_TABLE			# Removed the CMOS support as the boot
#	select USE_OPTION_TABLE				# order can be fixed now.
#	select HAVE_CMOS_DEFAULT
	select USE_CBMEM_FILE_OVERRIDE

config MAINBOARD_DIR
	string
	default pcengines/apu5

config MAINBOARD_PART_NUMBER
	string
	default "PC Engines apu5"

config SVI2_SLOW_SPEED
	bool	"SVI2 slow speed"
	default n
	help
		Used when there are problems switching the VRM speed. By default
		speed is 20 Mhz

config SVI_WAIT_COMP_DIS
	bool	"Disable SVI2 controller waits for command completion"
	default y
	help
		SVI2 controller will not wait for command completion from VRM

config HW_MEM_HOLE_SIZEK
	hex
	default 0x200000

config MAX_CPUS
	int
	default 4

config HW_MEM_HOLE_SIZE_AUTO_INC
	bool
	default n

config IRQ_SLOT_COUNT
	int
	default 11

config RAMTOP
	hex
	default 0x1000000

config HEAP_SIZE
	hex
	default 0xc0000

config ACPI_SSDTX_NUM
	int
	default 0

config RAMBASE
	hex
	default 0x200000

#config ONBOARD_VGA_IS_PRIMARY
#	bool
#	default y

config HUDSON_LEGACY_FREE
	bool
	default y

config HUDSON_XHCI_ENABLE
	bool
	default y

config DRIVERS_PS2_KEYBOARD
	bool
	default n

config AGESA_HEAP_MEMTEST
	bool
	default y

config VGA_ROM_RUN
	bool
	default n

config DUMP_GPIO_CONFIGURATION
	bool "Dump FCH GPIO configuration in board finalize"
	default n

config DUMP_CLOCK_CONFIGURATION
	bool "Dump FCH MISC configuration in board finalize"
	default n

config DUMP_LINK_CONFIGURATION
	bool "Dump PCIe LINK configuration in board finalize"
	default n

config FORCE_CONSOLE
	bool "always enable serial console"
	default n
	help
		by default serial console is only enabled when pressing S1

endif # BOARD_PCENGINES_APU5
