# SPDX-License-Identifier: GPL-2.0-only

if BOARD_MSI_PRO_B850_P

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select AZALIA_HDA_CODEC_SUPPORT
	select SOC_AMD_PHOENIX_AM5_OPENSIL
	select SOC_AMD_COMMON_BLOCK_HDA
	select SOC_AMD_COMMON_BLOCK_USE_ESPI
	select SOC_AMD_COMMON_BLOCK_ESPI_RETAIN_PORT80_EN
	select SOC_AMD_COMMON_BLOCK_PSP_RPMC
	select SOC_AMD_COMMON_BLOCK_PSP_SMI
	select SPI_FLASH_FORCE_4_BYTE_ADDR_MODE
	select SUPERIO_NUVOTON_NCT6687D
	select SMBIOS_TYPE41_PROVIDED_BY_DEVTREE
	select DRIVERS_UART_8250IO
	select DRIVERS_AMD_PROMONTORY21
	select HAVE_ACPI_TABLES
	select MEMORY_MAPPED_TPM
	select HAVE_X86_64_SUPPORT
	select USE_X86_64_SUPPORT
	select IOAPIC_8BIT_ID
	select IOAPIC_PREDEFINED_ID
	select BOARD_HAS_MSI_ROMHOLE

config FMDFILE
	default "src/mainboard/msi/ms7e56/board.fmd"

config MAINBOARD_DIR
	default "msi/ms7e56"

config MAINBOARD_PART_NUMBER
	default "PRO B850-P WIFI (MS-7E56)"

config MAINBOARD_VENDOR
	default "Micro-Star International Co., Ltd."

config MAINBOARD_FAMILY
	default "Default string"

config MAINBOARD_VERSION
	default "2.0"

config UART_FOR_CONSOLE
	default 0

config DEVICETREE
	default "devicetree.cb"

config VBOOT
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select VBOOT_ALWAYS_ENABLE_DISPLAY
	select VBOOT_NO_BOARD_SUPPORT
	select VBOOT_SEPARATE_VERSTAGE
	select VBOOT_STARTS_IN_BOOTBLOCK

config VBOOT_VBNV_OFFSET
	hex
	default 0x2A

config RO_REGION_ONLY
	string
	depends on VBOOT_SLOTS_RW_AB || VBOOT_SLOTS_RW_A
	default "apu/amdfw"

config EFS_SPI_READ_MODE
	default 5	# Quad IO (1-4-4)

config EFS_SPI_SPEED
	default 0	# 66MHz

config EFS_SPI_MICRON_FLAG
	default 2

config NORMAL_READ_SPI_SPEED
	default 1	# 33MHz

config ALT_SPI_SPEED
	default 0	# 66MHz

config TPM_SPI_SPEED
	default 3	# 16MHz

config CPU_PT_ROM_MAP_GB
	default 1024

config MRC_SETTINGS_CACHE_SIZE
	default 0x1000000

# Do not move this address. It has to match APCB.
config ECAM_MMCONF_BASE_ADDRESS
	default 0xe0000000

config MSI_ROMHOLE_TOOL_FLAGS
	string
	default "-DMSI_ROMHOLE_NO_FDP -DMSI_ROMHOLE_32BIT_LENGTHS -DMSI_ROMHOLE_BUV_SIZE=2048"

endif # BOARD_MSI_PRO_B850_P
