config BOARD_CLEVO_ADLP_COMMON
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select DRIVERS_I2C_HID
	select DRIVERS_INTEL_PMC
	select DRIVERS_INTEL_USB4_RETIMER
	select EC_SYSTEM76_EC
	select EC_ACPI
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MAINBOARD_HAS_TPM2
	select MEMORY_MAPPED_TPM
	select NO_UART_ON_SUPERIO
	select SOC_INTEL_ALDERLAKE_PCH_P
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_CRASHLOG
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select SPD_READ_BY_WORD
	select SYSTEM_TYPE_LAPTOP

config BOARD_CLEVO_NS50PU_BASE
	bool
	select BOARD_CLEVO_ADLP_COMMON
	select DRIVERS_GENERIC_BAYHUB_LV2

config BOARD_CLEVO_NS50PU
	bool
	select BOARD_CLEVO_NS50PU_BASE

config BOARD_CLEVO_NV40PZ_BASE
	bool
	select BOARD_CLEVO_ADLP_COMMON
	select EC_SYSTEM76_EC_DGPU
	select DRIVERS_GENERIC_BAYHUB_LV2

config BOARD_CLEVO_NV40PZ
	bool
	select BOARD_CLEVO_NV40PZ_BASE

if BOARD_CLEVO_ADLP_COMMON

config MAINBOARD_DIR
	default "clevo/adl-p"

config VARIANT_DIR
	default "ns50pu" if BOARD_CLEVO_NS50PU_BASE
	default "nv40pz" if BOARD_CLEVO_NV40PZ_BASE

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config MAINBOARD_PART_NUMBER
	default "ns50pu" if BOARD_CLEVO_NS50PU_BASE
	default "nv40pz" if BOARD_CLEVO_NV40PZ_BASE

config MAINBOARD_SMBIOS_PRODUCT_NAME
	default "NS5x_NS7xPU" if BOARD_CLEVO_NS50PU_BASE
	default "NV4xPZ" if BOARD_CLEVO_NV40PZ_BASE

config MAINBOARD_SMBIOS_MANUFACTURER
	default "Notebook"

config MAINBOARD_VERSION
	default "ns50pu" if BOARD_CLEVO_NS50PU_BASE
	default "nv40pz" if BOARD_CLEVO_NV40PZ_BASE

config MAINBOARD_FAMILY
	string
	default "Not Applicable" # Match stock firmware

config CBFS_SIZE
	default 0xA00000

config CONSOLE_POST
	default y

config DIMM_SPD_SIZE
	default 512

config ONBOARD_VGA_IS_PRIMARY
	default y

config POST_DEVICE
	default n

config UART_FOR_CONSOLE
	default 0

# PM Timer Disabled, saves power
config USE_PM_ACPI_TIMER
	default n

config VBOOT
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select HAS_RECOVERY_MRC_CACHE
	select VBOOT_ALWAYS_ENABLE_DISPLAY
	select VBOOT_CLEAR_RECOVERY_IN_RAMSTAGE
	select VBOOT_MOCK_SECDATA
	select VBOOT_NO_BOARD_SUPPORT

config VBOOT_SLOTS_RW_A
	default y if VBOOT

config VBOOT_VBNV_OFFSET
	default 0x28

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-rwa.fmd" if VBOOT && VBOOT_SLOTS_RW_A

config TPM_PIRQ
	default 0x27 # GPP_E1

config SOC_INTEL_CSE_SEND_EOP_EARLY
	default n

config VBOOT_FWID_VERSION
	default "\$(CONFIG_LOCALVERSION)"

if PAYLOAD_EDK2

config EDK2_CPU_THROTTLING_THRESHOLD_DEFAULT
	default 20

endif

endif
