# SPDX-License-Identifier: GPL-2.0-only

config LAUNCH_DRTM_PAYLOAD
	bool "Launch DRTM payload before the real one"
	default n
	depends on MEMORY_MAPPED_TPM
	help
	  Launch DRTM payload before the real one. This makes it possible to
	  put root of trust in hardware for platforms that don't support SRTM.
