## SPDX-License-Identifier: GPL-2.0-only

config BOARD_NOVACUSTOM_NUC_BOX_COMMON
	def_bool n
	select BOARD_ROMSIZE_KB_32768
	select CRB_TPM
	select DRIVERS_GENERIC_CBFS_SERIAL
	select DRIVERS_GENERIC_CBFS_UUID
	select DRIVERS_UART_8250IO
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_CMOS_DEFAULT
	select HAVE_INTEL_PTT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_TPM2
	select NO_UART_ON_SUPERIO
	select PCIEXP_SUPPORT_RESIZABLE_BARS
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_CRASHLOG
	select SOC_INTEL_METEORLAKE
	select SPD_READ_BY_WORD

config BOARD_NOVACUSTOM_NUC_BOX
	select BOARD_NOVACUSTOM_NUC_BOX_COMMON
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select SOC_INTEL_METEORLAKE_U_H

if BOARD_NOVACUSTOM_NUC_BOX_COMMON

config MAINBOARD_DIR
	default "novacustom/nuc_box"

config VARIANT_DIR
	default "nuc_box" if BOARD_NOVACUSTOM_NUC_BOX

config OVERRIDE_DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/overridetree.cb"

config MAINBOARD_PART_NUMBER
	default "NUC BOX" if BOARD_NOVACUSTOM_NUC_BOX

config MAINBOARD_SMBIOS_PRODUCT_NAME
	default "NUC_BOX" if BOARD_NOVACUSTOM_NUC_BOX

config MAINBOARD_VERSION
	default "nuc_box" if BOARD_NOVACUSTOM_NUC_BOX

config MAINBOARD_FAMILY
	string
	default "Not Applicable" # Match Insyde firmware

config CMOS_DEFAULT_FILE
	default "src/mainboard/\$(MAINBOARDDIR)/cmos.default"

config CONSOLE_POST
	default y

config D3COLD_SUPPORT
	default n

config DIMM_SPD_SIZE
	default 1024

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/variants/\$(CONFIG_VARIANT_DIR)/board.fmd"

config ONBOARD_VGA_IS_PRIMARY
	default y

config PCIEXP_DEFAULT_MAX_RESIZABLE_BAR_BITS
	default 36

config POST_DEVICE
	default n

config TPM_MEASURED_BOOT
	default y

config UART_FOR_CONSOLE
	default 0

# PM Timer Disabled, saves power
config USE_PM_ACPI_TIMER
	default n

config VBOOT
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select HAS_RECOVERY_MRC_CACHE
	select VBOOT_ALWAYS_ENABLE_DISPLAY
	select VBOOT_CLEAR_RECOVERY_IN_RAMSTAGE
	select VBOOT_MOCK_SECDATA
	select VBOOT_NO_BOARD_SUPPORT
	select VBOOT_NO_TPM

config VBOOT_VBNV_OFFSET
	default 0x28

config VBOOT_FWID_VERSION
	default "\$(CONFIG_LOCALVERSION)"

endif
