# SPDX-License-Identifier: GPL-2.0-only

if GENERATE_SMBIOS_TABLES

config BIOS_VENDOR
	default "3mdeb"

endif

comment "Dasharo"

menu "Dasharo Configuration"

config DASHARO_PREFER_S3_SLEEP
	bool "Prefer S3 suspend over S0ix"
	default n if PAYLOAD_EDK2
	default y

endmenu

