if BOARD_PROTECTLI_FW6

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select SEABIOS_ADD_SERCON_PORT_FILE if PAYLOAD_SEABIOS
	select SOC_INTEL_KABYLAKE
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SPI_FLASH_MACRONIX
	select SUPERIO_ITE_IT8613E
	select CRB_TPM
	select HAVE_INTEL_PTT
	select MAINBOARD_HAS_TPM2

config MAINBOARD_DIR
	default "protectli/vault_kbl"

config MAINBOARD_PART_NUMBER
	default	"FW6"

config MAINBOARD_FAMILY
	default "Vault"

config DIMM_MAX
	default 2

config DIMM_SPD_SIZE
	default 512

config MAX_CPUS
	default 8

config DEVICETREE
	default "devicetree.cb"

config VGA_BIOS_ID
	default "8086,5916" # FW6A/B/C

config VGA_BIOS_SECOND_ID
	default "8086,5917" # FW6D/E

config PXE_ROM_ID
	default "8086,150c"

config CBFS_SIZE
	default 0x600000

config FMDFILE
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/board.fmd"

config BEEP_ON_BOOT
	bool "Beep on successful boot"
	default y
	help
	  Make the platform beep using the PC speaker in final coreboot phase.
	  May serve as a useful indicator in headless mode that platform is
	  properly booting.


endif
