## SPDX-License-Identifier: GPL-2.0-only

if VENDOR_CLEVO

choice
	prompt "Mainboard model"

source "src/mainboard/clevo/*/Kconfig.name"

endchoice

source "src/mainboard/clevo/*/Kconfig"

config MAINBOARD_VENDOR
	default "Clevo"

config DGPU_ONLY_AVAILABLE
	bool "dGPU Only mux pin is available"
	default n
	depends on EDK2_DGPU_POWER_OPTION

endif # VENDOR_CLEVO
