## SPDX-License-Identifier: GPL-2.0-only

if BOARD_PROTECTLI_VP2410

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_INTEL_GEMINILAKE
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select MAINBOARD_HAS_LPC_TPM
	select SUPERIO_ITE_IT8613E
	select SPI_FLASH_MACRONIX
	select INTEL_GMA_HAVE_VBT
	select SEABIOS_ADD_SERCON_PORT_FILE if PAYLOAD_SEABIOS
	select NEED_IFWI

config MAINBOARD_DIR
	string
	default "protectli/vault_glk"

config DEVICETREE
	string
	default "devicetree.cb"

config MAINBOARD_PART_NUMBER
	string
	default "VP2410" 

config MAX_CPUS
	int
	default 4

config SOC_INTEL_COMMON_BLOCK_SGX_ENABLE
	bool
	default y

config FMDFILE
	string
	default "src/mainboard/$(CONFIG_MAINBOARD_DIR)/board.fmd" if !VBOOT

config VGA_BIOS_ID
	string
	default "8086,3185"

config PXE_ROM_ID
	string
	default "8086,157b"


endif # BOARD_PROTECTLI_VP2410
