## SPDX-License-Identifier: GPL-2.0-only

config BOARD_PROTECTLI_FW4_GEMINI_LAKE
	def_bool n
	select SOC_INTEL_GLK
	select BOARD_ROMSIZE_KB_8192
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select MAINBOARD_HAS_LPC_TPM
	select SUPERIO_ITE_IT8613E

if BOARD_PROTECTLI_FW4_GEMINI_LAKE


config MAINBOARD_DIR
	string
	default "protectli/vault_glk"

config DEVICETREE
	string
	default "devicetree.cb"

config MAINBOARD_PART_NUMBER
	string
	default "FW4_GLK" 

config MAX_CPUS
	int
	default 4

config SOC_INTEL_COMMON_BLOCK_SGX_ENABLE
	bool
	default y

endif # BOARD_PROTECTLI_FW4_GEMINI_LAKE
