config BOARD_NOVACUSTOM_NS5X_ADLP
	select BOARD_CLEVO_NS50PU_BASE

config BOARD_NOVACUSTOM_NV4X_ADLP
	select BOARD_CLEVO_NV40PZ_BASE

config MAINBOARD_PART_NUMBER
	default "nv40pz" if BOARD_NOVACUSTOM_NV4X_ADLP
	default "ns50pu" if BOARD_NOVACUSTOM_NS5X_ADLP
