comment "Meteor Lake H"

config BOARD_CLEVO_V540TNX
	bool "V540TU (14\", discrete graphics)"

config BOARD_CLEVO_V560TNX
	bool "V560TU (16\", discrete graphics)"

config BOARD_CLEVO_V540TU
	bool "V540TU (14\", integrated graphics)"

config BOARD_CLEVO_V560TU
	bool "V560TU (16\", integrated graphics)"
