config BOARD_CLEVO_TGLU_COMMON
	def_bool n
	select BOARD_ROMSIZE_KB_16384
	select DRIVERS_I2C_HID
	select DRIVERS_INTEL_PMC
	select DRIVERS_INTEL_USB4_RETIMER
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select INTEL_GMA_HAVE_VBT
	select INTEL_LPSS_UART_FOR_CONSOLE
	select MEMORY_MAPPED_TPM
	select MAINBOARD_HAS_TPM2
	select NO_UART_ON_SUPERIO
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_ENABLE_USB4_PCIE_RESOURCES
	select SOC_INTEL_TIGERLAKE
	select SPD_READ_BY_WORD
	select SYSTEM_TYPE_LAPTOP
	select EC_SYSTEM76_EC
	select EC_SYSTEM76_EC_BAT_THRESHOLDS
	select EC_ACPI

config BOARD_CLEVO_L140MU_BASE
	bool
	select BOARD_CLEVO_TGLU_COMMON
	select HAVE_SPD_IN_CBFS

config BOARD_CLEVO_NV40MZ_BASE
	bool
	select BOARD_CLEVO_TGLU_COMMON
	select EC_SYSTEM76_EC_DGPU
	select DRIVER_NVIDIA_OPTIMUS

config BOARD_CLEVO_NS50MU_BASE
	bool
	select BOARD_CLEVO_TGLU_COMMON
	select DRIVERS_GENERIC_BAYHUB_LV2

config BOARD_CLEVO_L140MU
	select BOARD_CLEVO_L140MU_BASE

config BOARD_CLEVO_NV40MZ
	select BOARD_CLEVO_NV40MZ_BASE

config BOARD_CLEVO_NS50MU
	select BOARD_CLEVO_NS50MU_BASE

if BOARD_CLEVO_TGLU_COMMON

config MAINBOARD_DIR
	default "clevo/tgl-u"

config VARIANT_DIR
	default "l140mu" if BOARD_CLEVO_L140MU_BASE
	default "nv40mz" if BOARD_CLEVO_NV40MZ_BASE
	default "ns50mu" if BOARD_CLEVO_NS50MU_BASE

config MAINBOARD_PART_NUMBER
	default "L140MU" if BOARD_CLEVO_L140MU
	default "NV40MZ" if BOARD_CLEVO_NV40MZ
	default "NS50MU" if BOARD_CLEVO_NS50MU

config MAINBOARD_SMBIOS_PRODUCT_NAME
	default "NS50_70MU" if BOARD_CLEVO_NS50MU_BASE
	default "NV4XMB,ME,MZ" if BOARD_CLEVO_NV40MZ_BASE

config MAINBOARD_SMBIOS_MANUFACTURER
	default "Notebook"

config MAINBOARD_VERSION
	default "2.2A" if BOARD_CLEVO_L140MU_BASE
	default "2.2A" if BOARD_CLEVO_NV40MZ_BASE
	default "2.2A" if BOARD_CLEVO_NS50MU_BASE

config MAINBOARD_FAMILY
	string
	default "Not Applicable" # Match stock firmware

config DEVICETREE
	default "variants/\$(CONFIG_VARIANT_DIR)/devicetree.cb"

config CBFS_SIZE
	default 0xb00000 if BOARD_CLEVO_L140MU_BASE
	default 0xb00000 if BOARD_CLEVO_NV40MZ_BASE
	default 0xb00000 if BOARD_CLEVO_NS50MU_BASE

config CONSOLE_POST
	default y

config UART_FOR_CONSOLE
	default 2

config TPM_PIRQ
	default 0x77 if BOARD_CLEVO_L140MU_BASE # GPP_C9_IRQ
	default 0x1C if BOARD_CLEVO_NV40MZ_BASE # GPP_C14_IRQ
	default 0x1C if BOARD_CLEVO_NS50MU_BASE # GPP_C14_IRQ

config VBOOT
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select HAS_RECOVERY_MRC_CACHE
	select VBOOT_ALWAYS_ENABLE_DISPLAY
	select VBOOT_CLEAR_RECOVERY_EACH_BOOT
	select VBOOT_MOCK_SECDATA
	select VBOOT_NO_BOARD_SUPPORT

config VBOOT_SLOTS_RW_A
	default y if VBOOT

config VBOOT_VBNV_OFFSET
	hex
	default 0x28

config FMDFILE
	string
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-rwa.fmd" if VBOOT && VBOOT_SLOTS_RW_A

config POST_DEVICE
	default n

config SEABIOS_PS2_TIMEOUT
	default 500

config USE_PM_ACPI_TIMER
	default n

config VBOOT_FWID_VERSION
	default "\$(CONFIG_LOCALVERSION)"

endif
