if BOARD_PROTECTLI_VP4

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select SOC_INTEL_COMETLAKE_1
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SOC_INTEL_COMMON_BLOCK_HDA
	select MAINBOARD_HAS_LPC_TPM
	select SUPERIO_ITE_IT8786E
	select INTEL_GMA_HAVE_VBT
	select SEABIOS_ADD_SERCON_PORT_FILE if PAYLOAD_SEABIOS
	select SPI_FLASH_MACRONIX

config MAINBOARD_DIR
	string
	default "protectli/vault_cml"

config MAINBOARD_PART_NUMBER
	string
	default "VP4"

config MAINBOARD_FAMILY
	string
	default "Vault Pro"

config DIMM_MAX
	int
	default 2

config MAX_CPUS
	int
	default 8

config DEVICETREE
	string
	default "devicetree.cb"

config DIMM_SPD_SIZE
	int
	default 512

config VGA_BIOS_ID
	string
	default "8086,9b41"

config CBFS_SIZE
	hex
	default 0xa00000

endif
