if BOARD_PROTECTLI_VP4620

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_16384
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LPC_TPM
	select SEABIOS_ADD_SERCON_PORT_FILE if PAYLOAD_SEABIOS
	select SOC_INTEL_COMETLAKE_1
	select SOC_INTEL_COMMON_BLOCK_HDA
	select SOC_INTEL_COMMON_BLOCK_HDA_VERB
	select SPI_FLASH_MACRONIX
	select SUPERIO_ITE_IT8786E
	select TPM_MEASURED_BOOT

config MAINBOARD_DIR
	string
	default "protectli/vault_cml"

config MAINBOARD_PART_NUMBER
	string
	default "VP4620"

config MAINBOARD_FAMILY
	string
	default "Vault Pro"

config DIMM_MAX
	int
	default 2

config MAX_CPUS
	int
	default 8

config DEVICETREE
	string
	default "devicetree.cb"

config DIMM_SPD_SIZE
	int
	default 512

config VGA_BIOS_ID
	string
	default "8086,9b41"

config VBOOT
	select GBB_FLAG_DISABLE_EC_SOFTWARE_SYNC
	select GBB_FLAG_DISABLE_FWMP
	select GBB_FLAG_DISABLE_LID_SHUTDOWN
	select GBB_FLAG_DISABLE_PD_SOFTWARE_SYNC
	select VBOOT_ALWAYS_ENABLE_DISPLAY
	select VBOOT_NO_BOARD_SUPPORT

config VBOOT_SLOTS_RW_A
	default y

config FMDFILE
	string
	default "src/mainboard/\$(CONFIG_MAINBOARD_DIR)/vboot-rwa.fmd" if VBOOT && VBOOT_SLOTS_RW_A


config CBFS_SIZE
	hex
	default 0xa00000

endif
