if BOARD_LENOVO_M920Q

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select SOC_INTEL_CANNONLAKE_PCH_H
	select SOC_INTEL_COFFEELAKE
	select BOARD_ROMSIZE_KB_24576
	select HAVE_ACPI_RESUME
	select HAVE_ACPI_TABLES
	select HAVE_OPTION_TABLE
	select HAVE_CMOS_DEFAULT
	select MAINBOARD_HAS_TPM2
	select MEMORY_MAPPED_TPM
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_HAS_LIBGFXINIT
	select MAINBOARD_USES_IFD_GBE_REGION
	select SUPERIO_NUVOTON_NCT6687D
	select DRIVERS_UART_8250IO

config MAINBOARD_DIR
	default "lenovo/m920q"

config MAINBOARD_PART_NUMBER
	default "ThinkCentre M920 Tiny"

config PRERAM_CBMEM_CONSOLE_SIZE
	hex
	default 0xd00

config DIMM_SPD_SIZE
	default 512 #DDR4

config CBFS_SIZE
	default 0x900000

config DRIVER_LENOVO_SERIALS
	bool
	default n

endif
