if VENDOR_PCENGINES

choice
	prompt "Mainboard model"
	default	BOARD_PCENGINES_APU2

config BOARD_PCENGINES_APU2
	bool "APU2"

config BOARD_PCENGINES_APU3
	bool "APU3"

config BOARD_PCENGINES_APU4
	bool "APU4"

config BOARD_PCENGINES_APU5
	bool "APU5"

endchoice

source "src/mainboard/pcengines/apu2/Kconfig"

config MAINBOARD_VENDOR
	string
	default "PC Engines"

endif # VENDOR_PCENGINES
