config EC_CLEVO_IT5570
	bool
	help
	  Clevo IT5570 EC

config EC_CLEVO_IT5570_RAM_BASE
	depends on EC_CLEVO_IT5570
	hex
	default 0xfe0b0100
	  The base of LPC window that maps the EC RAM to host memory space.
	  This is the ACPI address for EC RAM, the address programmed to registers
	  is always rounded to the nearest 64K.
