## SPDX-License-Identifier: GPL-2.0-only

if BOARD_ASROCK_TURIND8UD_2T

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select BOARD_ROMSIZE_KB_32768
	select DISABLE_KEYBOARD_RESET_PIN
	select DRIVERS_ASPEED_AST2050
	select HAVE_CMOS_DEFAULT
	select HAVE_OPTION_TABLE
	select IPMI_KCS
	select IPMI_KCS_ROMSTAGE
	select MEMORY_MAPPED_TPM
	select SOC_AMD_TURIN_POC
	select SPI_FLASH_FORCE_4_BYTE_ADDR_MODE
	select SUPERIO_ASPEED_AST2400
	select SUPERIO_NUVOTON_NCT6796D
	select SYSTEM_TYPE_SERVER

config FMDFILE
	default "src/mainboard/asrock/turind8ud-2t/board.fmd"

config MAINBOARD_DIR
	default "asrock/turind8ud-2t"

config MAINBOARD_PART_NUMBER
	default "FIXME"

config BUILD_WITH_DEBUG_APCB
	bool "Build with debug APCB blobs"
	default n
	help
	  Build coreboot image with debug APCB blobs. When selected, the
	  APCBs with debug output on serial port will be used during build.

	  Enabel it when debugging pre-reset vector issues.

config ECAM_MMCONF_BASE_ADDRESS
	default 0xb0000000

config EFS_SPI_READ_MODE
	default 0	# Normal read

config EFS_SPI_SPEED
	default 2	# 22MHz

config EFS_SPI_MICRON_FLAG
	default 0

config NORMAL_READ_SPI_SPEED
	default 2	# 22MHz

config ALT_SPI_SPEED
	default 2	# 22MHz

config TPM_SPI_SPEED
	default 2	# 22MHz

config EFS_ESPI0_CONFIG
	default 0x0e

config EFS_ESPI1_CONFIG
	default 0x2c

config TPM_MEASURED_BOOT_INIT_BOOTBLOCK
	default y if TPM_MEASURED_BOOT && !VBOOT

endif
