config BOARD_NOVACUSTOM_NV4X_TGLU
	select BOARD_CLEVO_NV40MZ_BASE

config BOARD_NOVACUSTOM_NS5X_TGLU
	select BOARD_CLEVO_NS50MU_BASE

config MAINBOARD_PART_NUMBER
	default "nv40mz" if BOARD_NOVACUSTOM_NV4X_TGLU
	default "ns50mu" if BOARD_NOVACUSTOM_NS5X_TGLU
