name: Dasharo
on:
  pull_request:
    branches:
      - dasharo
  push:
    branches:
      - dasharo-24.02.1

jobs:
  build_novacustom:
    runs-on: ubuntu-22.04
    container:
      image: coreboot/coreboot-sdk:2023-11-24_2731fa619b
      options: --user 1001
    strategy:
      matrix:
        vendor: [ novacustom ]
        model: [ nv4x_adl, ns5x_adl, nv4x_tgl, ns5x_tgl ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Checkout pull request HEAD commit instead of merge commit
          # See: https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch complete history
          fetch-depth: 0
      - name: Checkout all submodules
        run: git submodule update --init --recursive --checkout
      - name: Build Dasharo
        run: |
          cp configs/config.${{ matrix.vendor }}_${{ matrix.model }} .config
          make olddefconfig
          make
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "dasharo-${{ matrix.vendor }}-${{ matrix.model }}-${{ matrix.build }}"
          path: |
            build/coreboot.rom
          retention-days: 30
  build_msi:
    runs-on: ubuntu-22.04
    container:
      image: coreboot/coreboot-sdk:2023-11-24_2731fa619b
      options: --user 1001
    strategy:
      matrix:
        vendor: [ msi ]
        model: [ ms7d25_ddr4, ms7d25_ddr5, ms7e06_ddr4, ms7e06_ddr5 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Checkout pull request HEAD commit instead of merge commit
          # See: https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch complete history
          fetch-depth: 0
      - name: Checkout all submodules
        run: git submodule update --init --recursive --checkout
      - name: Build Dasharo
        run: |
          cp configs/config.${{ matrix.vendor }}_${{ matrix.model }} .config
          make olddefconfig
          make
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "dasharo-${{ matrix.vendor }}-${{ matrix.model }}-${{ matrix.build }}"
          path: |
            build/coreboot.rom
          retention-days: 30
  build_protectli:
    runs-on: ubuntu-22.04
    container:
      image: coreboot/coreboot-sdk:2023-11-24_2731fa619b
      options: --user 1001
    strategy:
      matrix:
        vendor: [ protectli ]
        model: [ vp66xx, vp46xx, vp2420, vp2410, V1210, V1410, V1610 ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Checkout pull request HEAD commit instead of merge commit
          # See: https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch complete history
          fetch-depth: 0
      - name: Checkout all submodules
        run: git submodule update --init --recursive --checkout
      - name: Build Dasharo
        run: |
          ./build.sh ${{ matrix.model }}
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "dasharo-${{ matrix.vendor }}-${{ matrix.model }}-${{ matrix.build }}"
          path: |
            build/coreboot.rom
          retention-days: 30
  build_pcengines:
    runs-on: ubuntu-22.04
    container:
      image: coreboot/coreboot-sdk:2023-11-24_2731fa619b
      options: --user 1001
    strategy:
      matrix:
        vendor: [ pcengines ]
        model: [ apu2, apu3, apu4, apu6 ]
        payload: [ uefi ]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          # Checkout pull request HEAD commit instead of merge commit
          # See: https://github.com/actions/checkout#checkout-pull-request-head-commit-instead-of-merge-commit
          ref: ${{ github.event.pull_request.head.sha }}
          # Fetch complete history
          fetch-depth: 0
      - name: Checkout all submodules
        run: git submodule update --init --recursive --checkout
      - name: Build Dasharo
        run: |
          cp configs/config.${{ matrix.vendor }}_${{ matrix.payload }}_${{ matrix.model }} .config
          make olddefconfig
          make
      - name: Save artifacts
        uses: actions/upload-artifact@v2
        with:
          name: "dasharo-${{ matrix.vendor }}-${{ matrix.model }}-${{ matrix.build }}"
          path: |
            build/coreboot.rom
          retention-days: 30
